*{
	padding:0;
	margin:0;
}
html{
	font-size: 13.33vw;
	height:100%;
}
::-webkit-scrollbar{
	display: none;
}
body{
	height:100%;
	font-family: "[PingFang]";	
	display: flex;
	flex-direction: column;
	background: #f5f5f9;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
img{
	border:none;
}
.ui-header{
	
	width:100%;
	height:.88rem;
	
}
.ui-log{
	position: relative;
	height:.88rem;
	background: #57a8ec;
	padding: 0rem .24rem;
	font-size: 0px;
}
.ui-log select{
	position: absolute;
	right:.4rem;
	z-index: 1;
	appearance: none;
	-moz-appearance:none;  
    -webkit-appearance:none;
    height:.88rem;
    padding-right: .3rem;
	font-size: .28rem;
	color:#ffffff;
	border:none;
	outline: none;
	line-height: .88rem;
	background:url(../images/select.png) no-repeat scroll right center transparent;
	background-size: .2rem .12rem; 
}
.ui-log select option{
	background:#57a8ec;
}
.back{
    position: absolute;
    left: .266667rem;
    width: .333333rem;
    height: .586667rem;
    top: .193333rem;
    z-index: 100;
}
.ui-log .ui-title{
	position: absolute;
	left:0px;
	bottom: .2rem;
	width:100%;
	font-size: .36rem;
	color:#ffffff;
	text-align: center;
}






.ui-content{
	width:100%;
	flex:1;
	overflow-y: auto;
	overflow-x: hidden;
}
ul{
	width: 88%;
	padding-left: 2%;
	padding-right: 2%;
	margin-left: auto;
	margin-right:auto;
	font-size: 0;
}
li{
	padding:.22rem .16rem;
	margin-top:.20rem;
	background: #fff;
	border-radius: .16rem;
	font-size: 0rem;
}
pre{
	display: inline-block;
	font-size: 0.28rem;
	vertical-align: top;
}
input{
	border:none;
	outline: none;
	font-size:0.28rem ;
	 display: inline-block;
	 vertical-align: top;
	 margin-left: .6rem;
	 width: 60%;
	 height: 0.4rem;
	
}
textarea{
	border:none;
	outline: none;
	 margin-left: .6rem;
	 width: 70%;
	 height: 2rem;
	 line-height: 0.4rem;
	 resize:none;
}

.input-data{
	border:0.01rem solid #c5c5c5;
	width: 30%;
}
i{
	display: inline-block;
	font-size: 0.28rem;
	margin-right: 0.08rem;
}
a.ui-btn-submit {
    color: #FFFFFF;
    font-weight: bold;
    font-size: .34rem;
    text-align: center;
    display: block;
    width: 88%;
    height: .76rem;
    line-height: .76rem;
    margin-top: .74rem;
    margin-bottom: .74rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: .16rem;
    background: #57a8ec;
}


.ui-footer{
	width:100%;
	height:1rem;
	border-top:solid 1px #f0f0f0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.ui-footer a{
	font-size: 0.22rem;
	color:#555;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.ui-footer a img{
	width:0.44rem;
	height:0.44rem;
	margin-bottom: 0.1rem;
}
.ui-footer a.active{
	color:#5FACED;
}
